<body>
    <!-- Container for homepage content -->
    <div class="main-content">
      <!-- Header element to contain page header and restart button -->
      <header>
        <h1 class="header-text">VV Pizzas Ordering Service
          </h1>
        <button class="restart-button" onclick="window.location.reload()">Restart Order
          </button>
      </header>
      <!-- Container for the user interface -->
      <div id="terminal">
        </div>
      <!-- Footer element for additional messaging to user -->
      <footer>
          <p class="footer-text">Call Vera on 07399487430 if you experience<br>any issues placing your order
              </p>
          </footer>
    </div>
    <script>
      var term = new Terminal({
        cols: 80,
        rows: 24
      });
      term.open(document.getElementById('terminal'));
      term.writeln('Running startup command: python3 run.py');
      term.writeln('');
      var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (':' + location.port) : '') + '/');
      ws.onopen = function() {
        new attach.attach(term, ws);
      };
      ws.onerror = function(e) {
        console.log(e);
      };
      // Set focus in the terminal
      document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>